:root {
    --dos-bg: #1a1a1a;
    --dos-magenta: #ff00ff;
    --dos-gray1: #666666;
    --dos-gray2: #aaaaaa;
    --dos-gray3: #cccccc;
    --dos-blue1: #0000cc;
    --dos-blue2: #009999;
    --dos-black: #000000;
    --dos-white: #ffffff;
    --dos-yellow: #e5ff00;
    --dos-purple: #7f00ff;
    --dos-orange: #ff9933;
}

body {
    font-family: 'VT323', Consolas, "Courier New", monospace;
    font-size: 18px;
    background-color: var(--dos-bg);
}

h1,h2,h3,h4,h5,h6 {
    padding: 0.6em 0.6em 0.6em 0.6em;
    font-size: 1.3em;
    color: var(--dos-black);
    border: 1px solid white;
    background-color: var(--dos-blue2);  
}

p {
    padding: 0.6em 0.6em 0.6em 0.6em;
    font-size: 0.9em;
    color: var(--dos-white);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--dos-yellow);
}

a:hover {
    color: var(--dos-yellow);
    text-decoration: underline dashed;
}

/* we center all images in their parent container/div/etc...*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* START GRID SETUP */


/* grid container */
.container {
    background-color: var(--dos-bg);
    width: 100%;
    margin: 0 auto;
    display: grid;
}

#mobile-main-navbar  {
    display: none;
}

#main-navbar {
    display: initial;
    background: var(--dos-bg);
}

#toc-navbar {
    margin: 0.6em;
    background: var(--dos-gray1);
    height: 10%;
    /* make our dropshadow */
    filter: drop-shadow(8px 8px 0px var(--dos-black));
}

#article { padding: 0.6em; }


/* very small screens */
@media (max-width: 650px) {
    p { font-size: 0.7em; }
    h1,h2,h3,h4,h5,h6 { font-size: 1.1em; }
    .bash-script { font-size: 0.7em; }
    .bash-line { font-size: 0.7em; }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #mobile-main-navbar { 
        grid-column: -1 / 1;
        display: initial; 
    }
    #main-navbar { display: none; }
    #toc-navbar { grid-column: -1 / 1; }
    #article { grid-column: -1 / 1; }
}

/* small screens */
@media (max-width: 815px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #main-navbar { grid-column: -1 / 1; }
    #toc-navbar { grid-column: -1 / 1; }
    #article { grid-column: -1 / 1; }
}
  
/* tablets and up */
@media (min-width: 816px) {
    .container {
        width: 85%;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: auto auto auto;
    }

    #main-navbar { grid-column: -1 / 1; }
    #toc-navbar { grid-column-start: 1; }
    #article { grid-column-start: 2; }
}

/* END GRID SETUP */

.btn-go-next {
    background: var(--dos-white);
    padding: 0.3em 0.3em 0.3em 0.3em;
    float: right;
    filter: drop-shadow(4px 4px 0px var(--dos-bg));
}

.btn-go-next:hover {
    background-color: var(--dos-gray1);
}

.btn-go-next:hover > button {
    background-color: var(--dos-gray1);
}

.btn-go-next button {
    font-family: 'VT323', Consolas, "Courier New", monospace;
    font-size: 1.3em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    color: var(--dos-black);
    border: 1px solid var(--dos-black);
}

.btn-go-next button:active {
    background-color: var(--dos-magenta);
}

.doc-title-text {
    color: var(--dos-white);
    border: 1px solid var(--dos-white); 
    padding: 0.6em 0.6em 0.6em 0.6em;
    background: var(--dos-blue1);
}

.bash-line {
    color: var(--dos-white);
    background: var(--dos-black);
    white-space: normal;
    padding: 0.6em 0.6em 0.6em 0.6em;
    font-family: 'Open Sans', sans-serif;
}

.bash-script {
    color: var(--dos-white);
    background: var(--dos-black);
    white-space: normal;
    display: block;
    padding: 0.6em 0.6em 0.6em 0.6em;
    font-family: 'Open Sans', sans-serif;
}

.fancy-pink {
    /* blast away color and replace with magenta */
    color: var(--dos-magenta) !important; 
}

.fancy-purple {
    /* blast away color and replace with magenta */
    color: var(--dos-purple) !important; 
    float: right;
}

#main-navbar a:hover {
    background-color: var(--dos-gray1);
}

#toc-navbar a {
    padding: 0.6em 1em;
    color:var(--dos-white);
    text-decoration: none;
    background: var(--dos-gray1);
    display: block;
}

#toc-navbar a:hover {
    background: var(--dos-blue2);
}